<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title th:text="${title}">Title</title>
</head>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">
    <input name = "cheeseName" placeholder="Cheese name" pattern="[A-Za-z\s]+" title="Please enter a name using letters and spaces only" required="required" />
    <textarea name="cheeseDesc" placeholder="Description" title="Describe your cheese if you wish"></textarea>
    <input type="submit" value="Add Cheese" />
</form>

</body>
</html>