<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${cheeses} and ${cheeses.size()}">No cheese :(</p>
<!-- we want thymeleaf to repeat each element (li tag) for each cheese in cheeses insert the text that is the value of the iterator -->


<ul>
    <table>
        <tr>
            <th>Cheese Name</th>
            <th>Description</th>
        </tr>
        <tr th:each="cheese : ${cheeses}">
            <td th:text="${cheese.key}">Key</td>
            <td th:text="${cheese.value}">Value</td>
        </tr>
    </table>
</ul>

</body>
</html>