<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">
    <p th:unless="${cheeses} and ${cheeses.size()}">No cheese :(</p>

    <label>I want to remove
        <div th:each="cheese : ${cheeses}" class="checkbox">
            <input type="checkbox" name="cheeseIds" th:value="${cheese.cheeseId}" th:id="${cheese.cheeseId}"/>
            <label th:for="${cheese.cheeseId}" th:text="${cheese.name}"></label>
            <br />
        </div>
        from my list of cheeses
    </label>
    <input type="submit" value="Remove Cheese"/>
</form>
</body>
</html>